<!DOCTYPE html>
<html>
<head>
  <title>City select</title>
  <%= stylesheet_link_tag    "city_select/application", media: "all" %>
  <%= javascript_include_tag "city_select/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
